<div class="jumbotron text-center">
	<h1>格子墙</h1>
	
	<p>优质展示位，永久产权，自由转让交易</p>
    <canvas id="canvas" width="1000" height="1000" crossOrigin="Anonymous"></canvas>
    <div class="row">
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>单价</th>
              <th>数量</th>
              <th>限制</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="selling in sellings">
                <td class="text-left">{{selling.price}}</td>
                <td class="text-left">{{selling.blocks}}</td>
                <td class="text-left">{{selling.limit.join(' - ')}}</td>
                <td class="text-left"><a>查看</a> <a>购买</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>单价</th>
              <th>数量</th>
              <th>限制</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="selling in sellings">
                <td class="text-left">{{selling.price}}</td>
                <td class="text-left">{{selling.blocks}}</td>
                <td class="text-left">{{selling.limit.join(' - ')}}</td>
                <td class="text-left"><a>查看</a> <a>购买</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
