<div class="text-center">
    <div class="row" style="margin-bottom: 20px">
      <canvas id="canvas" width="1000" height="1000" style="-webkit-box-shadow: 0px 0px 25px #ccc;" onmouseup="scope.loadCard(event)"></canvas>
    <canvas ng-show="mode" id="canvasTop" width="1000" height="1000" style="position:absolute;top:{{canvasPos[1]}}px;left:{{canvasPos[0]}}px;z-index:1" onmousedown="scope.mousedown(event)" onmouseup="scope.mouseup(event)" onmousemove="scope.mousemove(event)"></canvas>
    </div>
    <div class="btn-group" role="group" aria-label="..." ng-show="mode == 0 && account">
      <button type="button" class="btn btn-default" ng-click="startOrder(0)">
        <i class="fa fa-th" aria-hidden="true"></i>
        求购
      </button>
      <button type="button" class="btn btn-default" ng-click="startOrder(1)">
        <i class="fa fa-money" aria-hidden="true"></i>
        出售
      </button>
      <button type="button" class="btn btn-default" ng-click="setup()" ng-disabled="!mineLoaded">
        <i class="fa fa-cog" aria-hidden="true"></i>
        我的格子
      </button>
    </div>
    <div id="toolbar" style="z-index:2;width:100%;">
      <div ng-show="mode != 0">
        <div class="row">
          <div class="btn-group" role="group" aria-label="..." ng-show="mode == 1">
            <button type="button" class="btn btn-default" ng-click="selectNone()" ng-show="selectable" ng-disabled="selectedBlocks.length == 0">取消选取</button>
            <button type="button" class="btn btn-default" ng-click="confirmOrder()" ng-show="mode == 1 && !tradingOrder" ng-disabled="selectedBlocks.length == 0">{{orderDirection ? '出售' : '求购'}}选中的格子</button>
            <button type="button" class="btn btn-default" ng-click="confirmTrade()" ng-show="selectable && tradingOrder" title="执行当前选中的交易单" ng-disabled="selectedBlocks.length == 0">交易选中的格子</button>
            <button type="button" class="btn btn-default" ng-click="cancelOrder()" ng-show="tradingOrder && tradingOrder.creator == mainDistrictId" title="撤销当前选中的交易单">撤销交易单</button>
            <button type="button" class="btn btn-default" ng-click="exitTrade()">退出</button>
          </div>
          <div class="btn-group" role="group" aria-label="..." ng-show="mode == 2">
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  区域选择: {{districts[currentDistrictId] || '<主区>'}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="text-align: left">
                  <li ng-repeat="(distId, distName) in districts" ng-hide="distId == currentDistrictId">
                      <a ng-click="changeDistrict(distId)">{{distName || '<主区>'}}
                  </a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-default" ng-hide="newImage || transferringBlocks" ng-click="startTransferBlocks()" title="分配格子到其它区域">分配格子</button>
            <div class="btn-group dropup" ng-show="transferringBlocks">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="selectedBlocks.length == 0">
                  分配选定的格子到其它区域<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="text-align: left">
                  <li ng-repeat="(distId, distName) in districts" ng-hide="distId == currentDistrictId"><a ng-click="transferBlocks(distName)">{{distName || '<主区>'}}</a></li>
                  <li><a ng-click="transferBlocksToNewDistrict()">&lt;新建区域&gt;</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-default" ng-click="selectNone()" ng-show="transferringBlocks" ng-disabled="selectedBlocks.length == 0">取消选取</button>
            <button type="button" class="btn btn-default" ng-show="transferringBlocks" ng-click="setup()">退出分配</button>
            <button type="button" class="btn btn-default" ng-hide="newImage || transferringBlocks" ng-click="setLink()">配置内容</button>
            <button type="button" class="btn btn-default" ng-hide="newImage || transferringBlocks" ng-click="addPic()">添加图片</button>
            <button type="button" class="btn btn-default" ng-hide="newImage || transferringBlocks" ng-click="save()">保存</button>
            <button type="button" class="btn btn-default" ng-hide="newImage || transferringBlocks" ng-click="exitTrade()">退出</button>
            <button type="button" class="btn btn-default" ng-show="newImage && !transferringBlocks" ng-click="assembleImage()">放置图片</button>
            <button type="button" class="btn btn-default" ng-show="newImage && !transferringBlocks" ng-click="cancelAddPic()">取消添加图片</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="account">
        <small>当前星云账户: {{account}}</small>
    </div>
    <div ng-hide="account">
        如需交易请安装 <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a> 并导入星云钱包。
    </div>
    <h2>交易区</h2>
    <div class="row">
      <div class="col-sm-6" ng-repeat="dir in directions">
        <h3 ng-if="dir==0">求购单</h3>
        <h3 ng-if="dir==1">出售单</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>单价</th>
              <th>数量</th>
              <th>限制</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="order in orders | filter: {direction:dir}" ng-class="{'highlight': tradingOrder._id == order._id}">
              <td class="text-left">{{order._id}}</td>
              <td class="text-left">{{order.price}}</td>
              <td class="text-left">{{order.blocks.length}}</td>
              <td class="text-left">{{order.limit.join(' - ')}}</td>
              <td class="text-left">
                <a title="查看" ng-show="account" ng-click="startTrade(order._id)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <i class="fa fa-user" title="我的交易单" ng-show="order.creator === mainDistrictId"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tradeModal" tabindex="-1" role="dialog" aria-labelledby="tradeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tradeModalLabel">执行交易</h4>
      </div>
      <div class="modal-body">
          <p>{{tradingOrder.direction ? '买入' : '卖出'}}选中的{{selectedBlocks.length}}个格子？</p>
          <p>详情</p>
          <p>总数: {{selectedBlocks.length}}</p>
          <p>单价: {{tradingOrder.price|number:3}} NAS</p>
          <p>总价: {{totalPrice|number:3}} NAS</p>
          <p>手续费：{{fee|number:3}}</p>
          <p>您将{{tradingOrder.direction ? '支付' : '得到'}} {{pay|number:3}} NAS</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="trade()">成交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="orderModalLabel">挂单</h4>
      </div>
      <div class="modal-body">
          <p>挂单{{orderDirection ?  '出售' : '求购'}}选中的{{selectedBlocks.length}}个格子？</p>
          <p>详情</p>
          <p>总数: {{selectedBlocks.length}}</p>
          <p>单价: <input ng-model="orderPrice" style="width:50px;"></input> NAS <span style="color:red" ng-hide="validOrderPrice()">单价设置有误</small></span>
          <p>总价: {{orderTotalPrice()|number:3}} NAS</p>
          <p>限制(单次交易): 最少<input ng-model="minBlocks" style="width:50px"></input>格 最多<input ng-model="maxBlocks" style="width:50px"></input>格</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="createOrder()" ng-disabled="!validOrderPrice()">挂单</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="txModal" tabindex="-1" role="dialog" aria-labelledby="txModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="txModalLabel">操作已发送</h4>
      </div>
      <div class="modal-body">
          您的操作已发送，交易号为：<a target="_blank" href="https://explorer.nebulas.io/#/{{net}}/tx/{{txhash}}">{{txhash}}</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeTxModal()">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="linkModalLabel">设置内容</h4>
      </div>
      <div class="modal-body">
        <p>链接地址 <input ng-model="linkSettings.href" placeholder="http://..."></input></p>
        <p>标题文字 <input ng-model="linkSettings.title" placeholder="标题文字"></input></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="saveLinkSettings()">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ratingModalLabel">评价 {{showingDistrict.config.title}}</h4>
      </div>
      <div class="modal-body">
          <div ng-hide="account">
              评价前请安装 <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a> 并导入星云钱包。
          </div>
          <form ng-show="account">
            <div class="form-group">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" ng-model="currentRate"/><label class = "full" for="star5"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" ng-model="currentRate"/><label class="half" for="star4half"></label>
                <input type="radio" id="star4" name="rating" value="4" ng-model="currentRate"/><label class = "full" for="star4"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" ng-model="currentRate"/><label class="half" for="star3half"></label>
                <input type="radio" id="star3" name="rating" value="3" ng-model="currentRate"/><label class = "full" for="star3"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" ng-model="currentRate"/><label class="half" for="star2half"></label>
                <input type="radio" id="star2" name="rating" value="2" ng-model="currentRate"/><label class = "full" for="star2"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" ng-model="currentRate"/><label class="half" for="star1half"></label>
                <input type="radio" id="star1" name="rating" value="1" ng-model="currentRate"/><label class = "full" for="star1"></label>
                <input type="radio" id="starhalf" name="rating" value="0.5" ng-model="currentRate"/><label class="half" for="starhalf"></label>
              </fieldset>
            </div>
            <div class="form-group">
                <textarea maxlength="200" class="form-control" ng-model="comment" rows="3" placeholder="评论"></textarea>
                <div style="float:right">{{comment.length || 0}}/200</div>
            </div>
            <div class="checkbox" ng-show="donateDistrictId == showingDistrict._id" title="打赏的 NAS 全部转给格子拥有者，无手续费" >
              <label>
                <input class="span3" type="checkbox" ng-model="toDonate"> 打赏 0.1 NAS </input>
              </label>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="rating()" ng-disabled="currentRate < 0.5 || currentRate > 5">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="card" class="thumbnail" style="position:absolute;width:260px">
  <div style="margin: 5px">
    <h3 ng-show="showingDistrict.config.title">{{showingDistrict.config.title}}</h3>
    <h3 ng-hide="showingDistrict.config.title" class="text-muted">未命名</h3>
    <div>
      <div class="text-muted" ng-hide="rate > 0">评价过少暂无评分
        <a class="btn btn-default btn-xs" ng-click="startRating()">评价</a>
      </div>
      <fieldset class="rating" ng-show="rate > 0" ng-click="startRating()">
        <input type="radio" name="rating" value="5" ng-model="rate" disabled="1"/><label class = "full" for="star5"></label>
        <input type="radio" name="rating" value="4.5" ng-model="rate" disabled="1" /><label class="half" for="star4half"></label>
        <input type="radio" name="rating" value="4" ng-model="rate" disabled="1" /><label class = "full" for="star4"></label>
        <input type="radio" name="rating" value="3.5" ng-model="rate" disabled="1" /><label class="half" for="star3half"></label>
        <input type="radio" name="rating" value="3" ng-model="rate" disabled="1" /><label class = "full" for="star3"></label>
        <input type="radio" name="rating" value="2.5" ng-model="rate" disabled="1" /><label class="half" for="star2half"></label>
        <input type="radio" name="rating" value="2" ng-model="rate" disabled="1" /><label class = "full" for="star2"></label>
        <input type="radio" name="rating" value="1.5" ng-model="rate" disabled="1" /><label class="half" for="star1half"></label>
        <input type="radio" name="rating" value="1" ng-model="rate" disabled="1" /><label class = "full" for="star1"></label>
        <input type="radio" name="rating" value="0.5" ng-model="rate" disabled="1" /><label class="half" for="starhalf"></label>
      </fieldset>
    </div>
  </div>
  <div style="width:100%;height:180px;overflow:auto;margin:3px">
    <div ng-show="loadingRatings" class="text-muted" style="text-align:center;margin-top:10px">载入中...</div>
    <div ng-show="!loadingRatings && showingDistrict.ratings.length === 0" class="text-muted" style="text-align:center;margin-top:10px">暂无评价</div>
    <div ng-hide="loadingRatings" ng-repeat="rating in showingDistrict.ratings" style="margin:3px">
      <div style="float:right;color:{{rating.rating >= 4 ? 'green' : (rating.rating >= 3 ? 'orange' : 'red')}}"><small><b>{{rating.rating}}</b> 分</small></div>
      <div><small title="{{rating.account}}">来自: <b>{{short(rating.account)}}</b><small></div>
      <div style="float:right" ng-show="rating.donate"><small title="已打赏 {{rating.donate}} NAS">已打赏<small></div>
      <div ng-show="rating.comment">{{rating.comment}}</div>
      <div ng-hide="rating.comment" class="text-muted">无评论</div>
    </div>
  </div>
  <div style="text-align: center; margin: 8px">
    <a href="{{showingDistrict.config.href}}" target="_blank" class="btn btn-primary" role="button">前往</a>
    <a class="btn btn-default" role="button" ng-click="closeCard()">关闭</a>
  </div>
</div>

<div style="display: none">
  <input id="image-input" type="file"></input>
  <canvas id="assemble"></canvas>
</div>
